*.cache
*.ide
*.ide-shm
*.ide-wal
*.lock
*.pdb
*.suo
ETH-GasOMeter/ETH-GasOMeter.csproj.user
ETH-GasOMeter/obj/ETH-GasOMeter.csproj.nuget.g.props
ETH-GasOMeter/obj/ETH-GasOMeter.csproj.nuget.g.targets
ETH-GasOMeter/obj/project.assets.json
ETH-GasOMeter/obj/Debug/netcoreapp2.0/ETH-GasOMeter.AssemblyInfo.cs
ETH-GasOMeter/obj/Debug/netcoreapp2.0/ETH-GasOMeter.csproj.FileListAbsolute.txt
ETH-GasOMeter/obj/Debug/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/obj/Release/netcoreapp2.0/ETH-GasOMeter.AssemblyInfo.cs
ETH-GasOMeter/obj/Release/netcoreapp2.0/ETH-GasOMeter.csproj.FileListAbsolute.txt
ETH-GasOMeter/obj/Release/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.deps.json
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.dev.json
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.json
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.deps.json
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.dev.json
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.json
ETH-GasOMeter/bin/Release/PublishOutput/Common.Logging.Core.dll
ETH-GasOMeter/bin/Release/PublishOutput/ETH-GasOMeter.deps.json
ETH-GasOMeter/bin/Release/PublishOutput/ETH-GasOMeter.dll
ETH-GasOMeter/bin/Release/PublishOutput/ETH-GasOMeter.runtimeconfig.json
ETH-GasOMeter/bin/Release/PublishOutput/Nethereum.Portable.dll
ETH-GasOMeter/bin/Release/PublishOutput/Newtonsoft.Json.dll
ETH-GasOMeter/Properties/PublishProfiles/FolderProfile.pubxml
ETH-GasOMeter/Properties/PublishProfiles/FolderProfile.pubxml.user