
*.dll
*.ps1
*.nupkg
*.xml
*._
*.manifest
*.lastcodeanalysissucceeded
*.cache
*.pdb
*.suo
ETH-GasOMeter/bin/Debug/ETH-GasOMeter.exe
ETH-GasOMeter/bin/Debug/ETH-GasOMeter.exe.config
ETH-GasOMeter/bin/Debug/ETH-GasOMeter.vshost.exe
ETH-GasOMeter/bin/Debug/ETH-GasOMeter.vshost.exe.config
ETH-GasOMeter/obj/Debug/ETH-GasOMeter.csproj.FileListAbsolute.txt
ETH-GasOMeter/obj/Debug/ETH-GasOMeter.exe
ETH-GasOMeter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ETH-GasOMeter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ETH-GasOMeter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Microsoft.CSharp.4.0.1/dotnet_library_license.txt
packages/Microsoft.CSharp.4.0.1/ThirdPartyNotices.txt
packages/Newtonsoft.Json.10.0.3/LICENSE.md
