*.cache
*.dtbcache
*.ide
*.ide-shm
*.ide-wal
*.lock
*.pdb
*.suo
*.user
ETH-GasOMeter/obj/ETH-GasOMeter.csproj.nuget.g.props
ETH-GasOMeter/obj/ETH-GasOMeter.csproj.nuget.g.targets
ETH-GasOMeter/obj/project.assets.json
ETH-GasOMeter/obj/Debug/netcoreapp2.0/ETH-GasOMeter.AssemblyInfo.cs
ETH-GasOMeter/obj/Debug/netcoreapp2.0/ETH-GasOMeter.csproj.FileListAbsolute.txt
ETH-GasOMeter/obj/Debug/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/obj/Release/netcoreapp2.0/ETH-GasOMeter.AssemblyInfo.cs
ETH-GasOMeter/obj/Release/netcoreapp2.0/ETH-GasOMeter.csproj.FileListAbsolute.txt
ETH-GasOMeter/obj/Release/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.deps.json
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.dev.json
ETH-GasOMeter/bin/Debug/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.json
ETH-GasOMeter/obj/Release/ETH-GasOMeter.1.1.1.nuspec
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.deps.json
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.dll
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.dev.json
ETH-GasOMeter/bin/Release/netcoreapp2.0/ETH-GasOMeter.runtimeconfig.json
